.header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}

.header-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT SIDE */
.header-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* RIGHT SIDE */
.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-btnlogin {
  background: #06be38;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
}

.nav-btnlogin:hover {
  background: #328e04;
}

.nav-btnRegister {
  background: #0e0380;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
}

.nav-btnRegister:hover {
  background: #040553;
}


.nav-btn {
  background: #0a72ee;
  text-decoration: none;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
}

.nav-btn:hover {
  background: #1565c0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  color: inherit;
}

.logo-img {
  height: 26px;    /*logo*/
  width: auto;
  display: block;
}
